#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;

  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  border-bottom: 1px solid gray;
}

.headerIcon {
  height: 10em;
}
.reactIcon {
  height: 4em;
  position: inherit;
  left: 6em;
  top: 1em;
}
