#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ensuring body does not overlap with header */
body {
  margin-top: 10em;

  min-height: min-content;
}

header {
  display: flex;
  flex-direction: row;

  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  border-bottom: 1px solid gray;
}
.headerIcon {
  height: 10em;
  transition: box-shadow 0.3s;
}
.reactIcon {
  height: 4em;
  position: inherit;
  left: 6em;
  top: 1em;
}
.headerIcon:hover {
  /* border: 1px solid red; */
  box-shadow: 0 0 12px rgba(33, 33, 33, 0.3);
}

header h1 {
  margin-left: 10px;
  transition: text-decoration 0.3s;
}

header h1:hover {
  text-decoration: underline;
}
