#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ensuring body does not overlap with header */
body {
  margin-top: 10em;

  min-height: min-content;
}

header {
  display: flex;
  flex-direction: row;

  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  border-bottom: 1px solid gray;
  background-color: #fff;
  transition: background-color 0.5s ease;
  background-image: linear-gradient(#85badd00, #fff);
}
.headerIcon {
  height: 10em;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}
.reactIcon {
  height: 4em;
  position: inherit;
  left: 6em;
  top: 1em;
}
header:hover {
  background-color: #85badd;
}
header:hover .headerIcon {
  box-shadow: 0 0 18px rgba(33, 33, 33, 0.3);
}
header h1 {
  margin-left: 10px;
}

/* user Panel styles */
#userPanel {
  border: 1px solid #cfcfcf;
  border-top-right-radius: 20px;
  background-color: rgba(240, 255, 255, 0.9);
  padding: 1em;
  padding-right: 2em;

  position: fixed;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
#userIcon {
  border: 2px solid gray;
  width: 80px;
  height: 80px;
  border-radius: 100%;

  overflow: hidden;
}
#userPanel img {
  transform: translate(-5px, -4px);
}

#userPanel span {
  text-decoration: solid;
  align-self: center;
  font-size: 1.5em;
}
